@model Tournament.Models.League

@{
    ViewBag.Title = "Delete";

}

<h2>Delete</h2>

<div class="validation-summary-errors text-danger">@ViewBag.Error</div>

<h3>Are you sure you want to delete this?</h3>
Deleting a leagues will:
<ul>
    <li>Delete all matches</li>
    <li>Delete all teams</li>
    <li>Delete all players in the league (but keep in membership)</li>
    <li>Delete this league's schedule</li>
</ul>


<div>
    <h4>League</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeagueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeagueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiesAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiesAllowed)
        </dd>
        

        <dt>
            @Html.DisplayNameFor(model => model.PointsCount)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.PointsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinPoints)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WinPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiePoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ByePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ByePoints)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.StartWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartWeek)
        </dd>


    </dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.rowversion)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
  
</div>
