@model IEnumerable<Tournament.Models.LeagueAllowDelete_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeagueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamSize)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TiesAllowed)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PointsCount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WinPoints)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.TiePoints)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ByePoints)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StartWeek)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeagueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiesAllowed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinPoints)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TiePoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ByePoints)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.StartWeek)
        </td>

        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("LeagueAdmin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.id });
                @Html.Raw(" | ");
            }
            @Html.ActionLink("League Users", "Index", "UserLeagues", new { id = item.id }, null)
            @if ((User.IsInRole("Admin") || User.IsInRole("LeagueAdmin")) && item.cnt == 0)
            {
                @Html.Raw(" | ");
                if (item.cnt > 0)
                { 
                    <span style="color: gray;">Delete</span>
                }
                else
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.id });
                }
            }
        </td>
    </tr>
}

</table>
