@model Tournament.Models.RinkOrder

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div class="validation-summary-errors text-danger">@ViewBag.Error</div>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rink Play Order</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Green)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Green)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boundary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boundary)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.rowversion)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
