@model IEnumerable<Tournament.Models.RinkOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index of Rink Play Order</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Green)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boundary)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Green)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boundary)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.id})
        </td>
    </tr>
}

</table>
