@model IEnumerable<Tournament.Models.Team>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}

<h2>Teams</h2>

<p>
    @Html.ActionLink("Add Team", "Create")<br/>
    @Html.ActionLink("Team Report", "TeamReport")
</p>
<table class="table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skip)
        </th>
    @{
        if ((int) ViewBag.TeamSize > 2)
        {
            <th>
                @Html.DisplayNameFor(model => model.ViceSkip)
            </th>
        }
    }
    @{
        if ((int) ViewBag.TeamSize > 1)
        {
            <th>
                @Html.DisplayNameFor(model => model.Lead)
            </th>
        }
    }
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.TeamNo)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Player.Membership.FullName)
        </td>
    @if ((int) ViewBag.TeamSize > 2)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Player1.Membership.FullName)
        </td>
    }
    @if ((int) ViewBag.TeamSize > 1)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Player2.Membership.FullName)
        </td>
    }
        <td>
        @{
            if (HttpContext.Current.User.IsInRole("Admin") ||
                HttpContext.Current.User.IsInRole("LeagueAdmin"))
            {
                @Html.ActionLink("Edit", "Edit", new {id = item.id})
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new {id = item.id}) 
            }
        }
            </td>
    </tr>
    }

</table>
