
@{
    ViewBag.Title = "CreateMatches";
}

<h2>Create Matches for Tournament</h2>
<div class="validation-summary-errors text-danger">@ViewBag.Error</div>
<h3 style="color: red;">Are you sure you want to erase all matches and create a new set of matches?</h3>
<div>


    This will erase all matches for the @HttpContext.Current.Session["LeagueName"].ToString() and create a new round robin set of matches using the
    Wednesday schedule and Wednesday's teams.
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.Hidden("DeleteIT", "Yes")
            <input type="submit" value="Create Matches" class="btn btn-default" /> |
            @Html.ActionLink("Back to Home Page", "Welcome", "Home")
        </div>
    }
</div>
