@model IEnumerable<Tournament.Models.Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}

<h2>Schedule</h2>

<p>
@{
    if (HttpContext.Current.User.IsInRole("Admin") ||
        HttpContext.Current.User.IsInRole("LeagueAdmin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
}
</

        p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeekNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cancelled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.WeekNumber)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.GameDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cancelled)
        </td>
        <td>
        @{
            if (HttpContext.Current.User.IsInRole("Admin") ||
                HttpContext.Current.User.IsInRole("LeagueAdmin"))
            {
                @Html.ActionLink("Edit", "Edit", new {id = item.id}) 
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new {id = item.id})
            }
        }
            </td>
    </tr>
}

</table>
