@model IEnumerable<Tournament.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.LeagueName Rounds</h2>

<p>
@{
    if (HttpContext.Current.User.IsInRole("Admin") ||
        HttpContext.Current.User.IsInRole("LeagueAdmin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
}
</

        p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SortOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoundName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cancelled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.RoundName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cancelled)
        </td>
        <td>
        @{
            if (HttpContext.Current.User.IsInRole("Admin") ||
                HttpContext.Current.User.IsInRole("LeagueAdmin"))
            {
                @Html.ActionLink("Edit", "Edit", new {id = item.id}) 
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new {id = item.id})
            }
        }
            </td>
    </tr>
}

</table>
