@model IEnumerable<Tournament.Models.UserLeague>

@{
    ViewBag.Title = "Index";
}

<h2>Users of @HttpContext.Current.Session["LeagueName"].ToString()</h2>

<p>
    @Html.ActionLink("Add User", "Create", new {id=ViewBag.LeagueId})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.User.username)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
        
           
            <td>
                @Html.DisplayFor(modelItem => item.User.username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Leagues", "Index","Leagues")
</div>
